<h3 class="mb-3">{{ block.title }}</h3>
<p class="mb-4">{{ block.text }}</p>


{% schema %}
{
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Lorem ipsum",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            "label": "Text"
        }
    ]
}
{% endschema %}