<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html lang="en">
<head>

    <meta name="google-site-verification" content="5FUlxCiQgOWHvq4rIckf8hkf-25fn8kqeDeO6LgNx3w"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <meta name="keywords" content="{{ seo_meta_keywords }}">
    <meta name="description" content="{{ seo_meta_description }}">
    <link rel="shortcut icon" href="{{ favicon }}"/>
    <title>{{ seo_title }}</title>
    
    <link rel="preload" href="{{ 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' }}" as="style">
    {{ 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' | stylesheet_tag }}
  
    <link rel="preload" href="{{ 'style.css' | assets_url }}" as="style">
    {{ 'style.css' | assets_url | stylesheet_tag }}


     <link rel="preload" href="{{ 'https://code.jquery.com/jquery-3.6.0.min.js'  }}" as="script">
    {{ 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' | javascript_tag: "defer" }}
    
    <link rel="preload" href="{{ 'https://code.jquery.com/jquery-3.6.0.min.js'  }}" as="script">
    {{ 'https://code.jquery.com/jquery-3.6.0.min.js' | javascript_tag: "defer" }}

    <link rel="preload" href="{{ 'js.js' | assets_url }}" as="script">
    {{ 'js.js' | assets_url | javascript_tag: "defer" }}

    {{ ahoy }}

    <style>
        body {
            font-family: {{ type_base_font }};
            color: {{ color_text }}
        }
        h1, h2, h3, h4 {
            font-family: {{ type_header_font }};
            color: {{ heading_color_text }}
        }
    </style>
    
    
    {{ section_styles }}
    {{ section_scripts }}
</head>
<body id="page-{{ path | pageid }}">

<div id="wrapper" class="aos-init aos-animate">
    {% section header %}
    <main>
        {{ content_for_layout }}
    </main>
    {% section footer %}
</div>
</body>
</html>