<div class="faqs-section section-{{ section.id }} container-fluid bg-{{ section.settings.background_color }} my-{{ section.settings.margin }}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-{{ section.settings.container_size }} text-{{ section.settings.alignment }} ">
                {% if section.settings.title != blank %}
                <h2 class="mb-4 {%if section.settings.background_color != 'light' %}text-light{% else %}text-dark{% endif %}">{{ section.settings.title }}</h2>
                {% endif %}
                {% if section.settings.text != blank %}
                <div class="{%if section.settings.background_color != 'light' %}text-light{% else %}text-dark{% endif %}"><p>{{ section.settings.text }}</p></div>
                {% endif %}
                <div class="accordion accordion-flush pt-2 {%if section.settings.background_color != 'light' %}text-light{% else %}text-dark{% endif %}" id="faqAccordion">
                        {% for block in section['block_order'] %}
                            {% block %}
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% styles %}
.faqs-section {
    padding: 80px 0;
}

{% if section.settings.background_color != 'light' %}
.faqs-section .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
    
.faqs-section accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.faqs-section .accordion-item, .faqs-section .accordion-button {
    background-color: transparent !important;
    color: {{ light_color }} !important;
}
{% else %}
.faqs-section .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231A211C'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
    
.faqs-section accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231A211C'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.faqs-section .accordion-item, .faqs-section .accordion-button {
    background-color: transparent !important;
    color: {{ dark_color }} !important;
}

.faqs-section .accordion-button:focus {
    outline: 1px solid {{ light_color }};
}
{% endif %}


@media screen and (max-width: 576px) {
    .faqs-section {
        padding: 80px 20px;
    }
}

{% endstyles %}

{% schema %}
{
    "name": "FAQ Accordion",
    "description": "Section showing questions and answers in an accordion with options for a section title, content and customizable background.",
    "max_blocks": 99,
    "settings": [
        {
            "type": "select",
            "id": "margin",
            "label": "Section Margin",
            "default": "0",
            "options": [
            {
            "label": "Large",
            "value": "5"
            },
            {
                "label": "Medium",
                "value": "3"
            },
            {
                "label": "Small",
                "value": "1"
            },
            {
                "label": "None",
                "value": "0"
            }]
        },
        {
            "type": "select",
            "id": "container_size",
            "label": "Container Size",
            "default": "6",
            "options": [
            {
                "label": "Small",
                "value": "6"
            },
            {
                "label": "Medium",
                "value": "8"
            },
            {
                "label": "Large",
                "value": "12"
            }]
        },
        {
            "type": "select",
            "id": "alignment",
            "label": "Text Alignment",
            "default": "center",
            "options": [
            {
                "label": "Left",
                "value": "left"
            },
            {
                "label": "Center",
                "value": "center"
            },
            {
                "label": "Right",
                "value": "right"
            }]
        },
        {
            "type": "select",
            "id": "background_color",
            "label": "Background Color",
            "default": "accent",
            "options": [
                {
                    "label": "Primary",
                    "value": "primary"
                },
                {
                    "label": "Secondary",
                    "value": "secondary"
                },
                {
                    "label": "Tertiary",
                    "value": "tertiary"
                },
                {
                    "label": "Accent",
                    "value": "accent"
                },
                {
                    "label": "Light",
                    "value": "light"
                },
                {
                    "label": "Dark",
                    "value": "dark"
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "default": "Lorem ipsum",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            "label": "Content"
        }
    ],
    "blocks": [
        {
            "type": "faq",
            "name": "faq"
        }
    ]
}
{% endschema %}