{% if section.settings.background_color == "primary" %}
{% assign bg_hex = "{{ primary_color }}" %}
{% elsif section.settings.background_color == "secondary" %}
{% assign bg_hex = "{{ secondary_color }}" %}
{% elsif section.settings.background_color == "tertiary" %}
{% assign bg_hex = "{{ tertiary_color }}" %}
{% elsif section.settings.background_color == "accent" %}
{% assign bg_hex = "{{ accent_color }}" %}
{% elsif section.settings.background_color == "light" %}
{% assign bg_hex = "{{ light_color }}" %}
{% elsif section.settings.background_color == "dark" %}
{% assign bg_hex = "{{ dark_color }}" %}
{% endif %}

<div class="hero container-fluid section-{{ section.id }}{% if section.settings.background_color != blank and section.settings.background_image == blank %} bg-color{% elsif section.settings.background_color == blank and section.settings.background_image != blank %} bg-image{% elsif section.settings.background_color != blank and section.settings.background_image != blank %} bg-image-color{% endif %}" style="padding: {{ section.settings.padding }} 0;">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-{{ section.settings.container_size }} text-center">
                <h1 class="mb-4 {{ section.settings.hsize }} text-{{ section.settings.title_color }}">{{ section.settings.title }}</h1>
                <div class="mb-5 {% if section.settings.text_color != 'default' %}text-{{ section.settings.text_color }}{% else %}hero-text{% endif %}"><p>{{ section.settings.text }}</p></div>
                {% if section.settings.btn_text != blank %}
                <div class="mt-4">
                {% if section.settings.btn_count == "2" %}
                <a class="btn btn-{{ section.settings.btn_color }} btn-lg mx-2" href="{{ section.settings.btn_link }}" role="button">{{ section.settings.btn_text }}</a>
                <a class="btn btn-{{ section.settings.btn_color2 }} btn-lg mx-2" href="{{ section.settings.btn_link_2 }}" role="button">{{ section.settings.btn_text_2 }}</a>
                {% else %}
                <a class="btn btn-{{ section.settings.btn_color }} btn-lg mx-2" href="{{ section.settings.btn_link }}" role="button">{{ section.settings.btn_text }}</a>
                {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% styles %}
    .section-{{ section.id }}.bg-color {
        background: {{ bg_hex }}{{ section.settings.overlay }};
    }

    .section-{{ section.id }}.bg-image {
        background: url({{ section.settings.background_image | image_url:'1600x1600' }});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .section-{{ section.id }}.bg-image-color {
        background: {% if section.settings.overlay != "none" %}linear-gradient({{ bg_hex }}{{ section.settings.overlay }}, {{ bg_hex }}{{ section.settings.overlay }}), {%endif%}url({{ section.settings.background_image | image_url:'1600x1600' }});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    
    .section-{{ section.id }}.hero .btn {
        min-width: 100px;
        padding: 0.7rem 1.5rem;
    }
    
    .section-{{ section.id }}.hero-text {
        font-size: 1.2em;
        font-weight: 500;
        line-height: 1.6;
    }

@media screen and (max-width: 576px) {
    
    
    .section-{{ section.id }}.hero {
        padding: 80px 0;
    }
    
    
    .section-{{ section.id }}.hero h1 {
        font-size: 2em;
        padding: 0 12px;
    }
    
    .section-{{ section.id }}.hero .h2 {
        font-size: 1.5em;
    }
}

    
{% endstyles %}

{% schema %}
{
    "name": "Hero",
    "description": "Hero section with 1 or 2 button option",
    "settings": [
        {
            "type": "select",
            "id": "padding",
            "label": "Padding",
            "default": "120px",
            "options": [
            {
                "label": "None",
                "value": "0"
            },
            {
                "label": "Small",
                "value": "40px"
            },
            {
                "label": "Medium",
                "value": "80px"
            },
            {
                "label": "Large",
                "value": "120px"
            }]
        },
        {
            "type": "select",
            "id": "container_size",
            "label": "Content Width",
            "default": "8",
            "options": [
            {
                "label": "Small",
                "value": "6"
            },
            {
                "label": "Medium",
                "value": "8"
            },
            {
                "label": "Large",
                "value": "12"
            }]
        },
        {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image",
            "default": "placeholder.webp"
        },
        {
            "type": "select",
            "id": "overlay",
            "label": "Overlay Opacity",
            "default": "80",
            "options": [
            {
                "label": "Very Light",
                "value": "1A"
            },
            {
                "label": "Light",
                "value": "66"
            },
            {
                "label": "Medium",
                "value": "80"
            },
            {
                "label": "Dark",
                "value": "BF"
            },
            {
                "label": "Very Dark",
                "value": "E6"
            },
            {
                "label": "100%",
                "value": "FF"
            }]
        },
        {
            "type": "select",
            "id": "background_color",
            "label": "Background Color/Overlay",
            "default": "primary",
            "options": [
                {
                    "label": "Primary",
                    "value": "primary"
                },
                {
                    "label": "Secondary",
                    "value": "secondary"
                },
                {
                    "label": "Tertiary",
                    "value": "tertiary"
                },
                {
                    "label": "Accent",
                    "value": "accent"
                },
                {
                    "label": "Light",
                    "value": "light"
                },
                {
                    "label": "Dark",
                    "value": "dark"
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Hero Title",
            "default": "Long headline to turn your visitors into users"
        },
        {
            "type": "select",
            "id": "hsize",
            "label": "Heading Size",
            "default": "h1",
            "options": [
            {
                "label": "H1",
                "value": "h1"
            },
            {
                "label": "H2",
                "value": "h2"
            },
            {
                "label": "H3",
                "value": "h3"
            }]
        },
        {
            "type": "select",
            "id": "title_color",
            "label": "Title Color",
            "default": "light",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Primary",
                    "value": "primary"
                },
                {
                    "label": "Secondary",
                    "value": "secondary"
                },
                {
                    "label": "Tertiary",
                    "value": "tertiary"
                },
                {
                    "label": "Accent",
                    "value": "accent"
                },
                {
                    "label": "Light",
                    "value": "light"
                },
                {
                    "label": "Dark",
                    "value": "dark"
                }
            ]
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Hero Text",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>"
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Text Color",
            "default": "light",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Primary",
                    "value": "primary"
                },
                {
                    "label": "Secondary",
                    "value": "secondary"
                },
                {
                    "label": "Tertiary",
                    "value": "tertiary"
                },
                {
                    "label": "Accent",
                    "value": "accent"
                },
                {
                    "label": "Light",
                    "value": "light"
                },
                {
                    "label": "Dark",
                    "value": "dark"
                }
            ]
        },
        {
            "type": "select",
            "id": "btn_count",
            "label": "Button Count",
            "default": "2",
            "options": [
            {
                "label": "1",
                "value": "1"
            },
            {
                "label": "2",
                "value": "2"
            }]
        },
        {
            "type": "url",
            "id": "btn_link",
            "label": "Button Link",
            "default": "#"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button Text",
            "default": "Button 1"
        },
        {
        "type": "select",
        "id": "btn_color",
        "default": "outline-light",
        "label": "Button 1 Color",
        "options": [
        {
            "label": "Primary",
            "value": "primary"
        },
        {
            "label": "Secondary",
            "value": "secondary"
        },
        {
            "label": "Outline Primary",
            "value": "outline-primary"
        },
        {
            "label": "Outline Secondary",
            "value": "outline-secondary"
        },
        {
            "label": "Outline Light",
            "value": "outline-light"
        },
        {
            "label": "Outline Dark",
            "value": "outline-dark"
        },
        {
            "label": "Light",
            "value": "light"
        },
        {
            "label": "Dark",
            "value": "dark"
        },
        {
            "label": "Link",
            "value": "link"
        }]
        },
        {
            "type": "url",
            "id": "btn_link_2",
            "label": "Button Link 2",
            "default": "#"
        },
        {
            "type": "text",
            "id": "btn_text_2",
            "label": "Button Text 2",
            "default": "Button 2"
        },
        {
        "type": "select",
        "id": "btn_color2",
        "default": "secondary",
        "label": "Button 2 Color",
        "options": [
        {
            "label": "Primary",
            "value": "primary"
        },
        {
            "label": "Secondary",
            "value": "secondary"
        },
        {
            "label": "Outline Primary",
            "value": "outline-primary"
        },
        {
            "label": "Outline Secondary",
            "value": "outline-secondary"
        },
        {
            "label": "Outline Light",
            "value": "outline-light"
        },
        {
            "label": "Outline Dark",
            "value": "outline-dark"
        },
        {
            "label": "Light",
            "value": "light"
        },
        {
            "label": "Dark",
            "value": "dark"
        },
        {
            "label": "Link",
            "value": "link"
        }]
    }
    ]
}
{% endschema %}