<div class="image-with-text section-{{ section.id }} container{% if section.settings.fullwidth %}-fluid p-0{%endif%} my-{{ section.settings.margin }} gx-0 {{ section.settings.background_color }}">
    <div class="row gx-0">
       <div class="col-12 col-lg-6 d-lg-flex d-block text-center align-items-lg-center justify-content-lg-{%if section.settings.layout == '2' %}end{%else%}start{% endif %} order-first image-col{%if section.settings.layout == "2" %} order-lg-last{%endif%}" style="min-height: 250px;">
         {% if section.settings.image != blank %}
               <img style="width: {{ section.settings.image_width }}%" src="{{ section.settings.image | image_url }}" class="img-fluid" alt="{{ section.settings.alt }}" />
       {% endif %}
       </div>
       <div class="col-12 col-lg-6 align-self-center text-col py-lg-5 px-lg-5 order-last{%if section.settings.layout == "2" %} order-lg-first{%endif%}">
         <h2 class="mb-3{%if section.settings.background_color != 'bg-light'%} text-light{%endif%}">{{ section.settings.heading }}</h2>
         <p class="mb-4 pr-lg-4 mr-lg-5{%if section.settings.background_color != 'bg-light'%} text-light{%endif%}">{{ section.settings.content }}</p>
         {% if section.settings.btn_label != blank and section.settings.btn_label2 == blank %}
         <a class="btn btn-{{ section.settings.btn_color }} btn-{{ section.settings.btn_size }}" tabindex="-1" role="button" href="{{ section.settings.btn_link }}">
             {{ section.settings.btn_label }}
         </a>
         {% elsif section.settings.btn_label2 != blank %}
         <div class="d-grid gap-2 d-md-block">
             <a class="btn btn-{{ section.settings.btn_color }} btn-{{ section.settings.btn_size }}" tabindex="-1" role="button" href="{{ section.settings.btn_link }}">
             {{ section.settings.btn_label }}
         </a>
            <a class="btn btn-{{ section.settings.btn_color2 }} btn-{{ section.settings.btn_size }}" tabindex="-1" role="button" href="{{ section.settings.btn_link2 }}">
             {{ section.settings.btn_label2 }}
         </a>
           </div>
         {% endif %}
       </div>
     </div>
   </div>
   
   
   {% schema %}
   {
       "name": "Image with Text and Buttons (2 Columns)",
       "description": "Image with Text section containing 1 column for image and 1 column for content with text and button",
       "settings": [
       {
           "type": "checkbox",
           "id": "fullwidth",
           "label": "Full Width"
       },
       {
           "type": "select",
           "id": "margin",
           "label": "Section Margin",
           "default": "5",
           "options": [
           {
               "label": "Large",
               "value": "5"
           },
           {
               "label": "Medium",
               "value": "3"
           },
           {
               "label": "Small",
               "value": "1"
           },
           {
               "label": "None",
               "value": "0"
           }]
       },
       {
           "type": "select",
           "id": "layout",
           "label": "Layout",
           "default": "2",
           "options": [
           {
               "label": "Image Left Content Right",
               "value": "1"
           },
           {
               "label": "Content Left Image Right",
               "value": "2"
           }]
       },
       {
           "type": "select",
           "id": "background_color",
           "label": "Background Color",
           "default": "bg-light",
           "options": [
               {
                   "label": "Primary",
                   "value": "bg-primary"
               },
               {
                   "label": "Secondary",
                   "value": "bg-secondary"
               },
               {
                   "label": "Tertiary",
                   "value": "bg-tertiary"
               },
               {
                   "label": "Accent",
                   "value": "bg-accent"
               },
               {
                   "label": "Light",
                   "value": "bg-light"
               },
               {
                   "label": "Dark",
                   "value": "bg-dark"
               }
           ]
       },
       {
           "type": "image_picker",
           "id": "image",
           "label": "Image",
           "default": "placeholder.webp"
       },
       {
            "type": "range",
            "id": "image_width",
            "label": "Image Size",
            "default": 70,
            "min": 25,
            "max": 100,
            "step": 5
        },
       {
           "type": "text",
           "id": "alt",
           "label": "Image Alt Text"
       },
       {
           "type": "text",
           "id": "heading",
           "default": "Lorem ipsum",
           "label": "Heading"
       },
       {
           "type": "richtext",
           "id": "content",
           "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
           "label": "Text"
       },
       {
           "type": "select",
           "id": "btn_size",
           "label": "Button Size",
           "default": "lg",
           "options": [
           {
               "label": "Small",
               "value": "sm"
           },
           {
               "label": "Large",
               "value": "lg"
           }]
       },
       {
           "type": "text",
           "id": "btn_label",
           "default": "Button 1",
           "label": "Button 1 Label"
       },
       {
           "type": "text",
           "id": "btn_link",
           "label": "Button 1 Link"
       },
       {
           "type": "select",
           "id": "btn_color",
           "label": "Button 1 Color",
           "default": "link",
           "options": [
           {
               "label": "Primary",
               "value": "primary"
           },
           {
               "label": "Secondary",
               "value": "secondary"
           },
           {
               "label": "Outline Primary",
               "value": "outline-primary"
           },
           {
               "label": "Outline Secondary",
               "value": "outline-secondary"
           },
           {
               "label": "Outline Light",
               "value": "outline-light"
           },
           {
               "label": "Outline Dark",
               "value": "outline-dark"
           },
           {
               "label": "Light",
               "value": "light"
           },
           {
               "label": "Dark",
               "value": "dark"
           },
           {
               "label": "Link",
               "value": "link"
           }]
       },
       {
           "type": "text",
           "id": "btn_label2",
           "label": "Button 2 Label"
       },
       {
           "type": "text",
           "id": "btn_link2",
           "label": "Button 2 Link"
       },
       {
           "type": "select",
           "id": "btn_color2",
           "label": "Button 2 Color",
           "options": [
           {
               "label": "Primary",
               "value": "primary"
           },
           {
               "label": "Secondary",
               "value": "secondary"
           },
           {
               "label": "Outline Primary",
               "value": "outline-primary"
           },
           {
               "label": "Outline Secondary",
               "value": "outline-secondary"
           },
           {
               "label": "Outline Light",
               "value": "outline-light"
           },
           {
               "label": "Outline Dark",
               "value": "outline-dark"
           },
           {
               "label": "Light",
               "value": "light"
           },
           {
               "label": "Dark",
               "value": "dark"
           },
           {
               "label": "Link",
               "value": "link"
           }]
       }
       
   ]
   }
   {% endschema %}