<div class="numbered-list section-{{ section.id }} container-fluid {{ section.settings.background_color }} my-{{ section.settings.margin }}">

    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-6">
                <h2 class="my-3 {% if section.settings.background_color != "bg-light" %}text-white{%else%}text-dark{%endif%}">{{ section.settings.title }}</h2>
                <div class="mb-4 mb-lg-5 {% if section.settings.background_color != "bg-light" %}text-white{%else%}text-dark{%endif%}"><p>{{ section.settings.text }}</p></div>
                <div class="row my-4 text-left {% if section.settings.background_color != "bg-light" %}text-white{%else%}text-dark{%endif%}">
                {% for block in section['block_order'] %}
                {% if forloop.index == 1 %}
                   <div class="col-2 col-lg-1 text-center mt-1"><span class="icon-action_call_dial_first_number_icon"></span></div>
                   <div class="col-10 col-lg-11 feature-col">{% block %}</div>
                {% elsif forloop.index == 2 %}
                    <div class="col-2 col-lg-1 text-center mt-1"><span class="icon-second_phone_number_two_call_icon"></span></div>
                    <div class="col-10 col-lg-11 feature-col">{% block %}</div>
                {% elsif forloop.index == 3 %}
                    <div class="col-2 col-lg-1 text-center mt-1"><span class="icon-action_call_dial_number_phone_icon"></span></div>
                    <div class="col-10 col-lg-11 feature-col">{% block %}</div>
                {% elsif forloop.index == 4 %}
                    <div class="col-2 col-lg-1 text-center mt-1"><span class="icon-action_call_dial_four_fourth_icon"></span></div>
                    <div class="col-10 col-lg-11 feature-col">{% block %}</div>
                {% elsif forloop.index == 5 %}
                    <div class="col-2 col-lg-1 text-center mt-1"><span class="icon-action_call_dial_fifth_five_icon"></span></div>
                    <div class="col-10 col-lg-11 feature-col">{% block %}</span></div>
                {% else %}
                {% block %}
                 
                {% endif %}    
                {% endfor %}
                </ol>
                </div>
            </div>
        </div>
    </div>
</div>

{% styles %}

.numbered-list h3 {
    color:{% if section.settings.background_color != 'bg-light' %} {{ light_color }}{% else %} {{ dark_color }}{% endif %};
    }

{% endstyles %}



{% schema %}
{
    "name": "Numbered List",
    "description": "Shows up to 5 items in a numbered list",
    "max_blocks": 5,
    "settings": [
        {
           "type": "select",
           "id": "margin",
           "label": "Section Margin",
           "default": "0",
           "options": [
           {
               "label": "Large",
               "value": "5"
           },
           {
               "label": "Medium",
               "value": "3"
           },
           {
               "label": "Small",
               "value": "1"
           },
           {
               "label": "None",
               "value": "0"
           }]
        },
        {
           "type": "select",
           "id": "background_color",
           "label": "Background Color",
           "default": "bg-secondary",
           "options": [
               {
                   "label": "Primary",
                   "value": "bg-primary"
               },
               {
                   "label": "Secondary",
                   "value": "bg-secondary"
               },
               {
                   "label": "Tertiary",
                   "value": "bg-tertiary"
               },
               {
                   "label": "Accent",
                   "value": "bg-accent"
               },
               {
                   "label": "Light",
                   "value": "bg-light"
               },
               {
                   "label": "Dark",
                   "value": "bg-dark"
               }
           ]
       },
        {
            "type": "text",
            "id": "title",
            "default": "Lorem ipsum",
            "label": "Heading"
        },
        {
            "type": "richtext",
            "id": "text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            "label": "Text"
        }
    ],
    "blocks": [
            {
                "type": "list-item"
            },
            {
                "type": "list-item"
            },
            {
                "type": "list-item"
            },
            {
                "type": "list-item"
            },
            {
                "type": "list-item"
            }
    ]
}
{% endschema %}