{% if section.settings.background_color == "primary" %}
{% assign bg_hex = "{{ primary_color }}" %}
{% elsif section.settings.background_color == "secondary" %}
{% assign bg_hex = "{{ secondary_color }}" %}
{% elsif section.settings.background_color == "tertiary" %}
{% assign bg_hex = "{{ tertiary_color }}" %}
{% elsif section.settings.background_color == "accent" %}
{% assign bg_hex = "{{ accent_color }}" %}
{% elsif section.settings.background_color == "light" %}
{% assign bg_hex = "{{ light_color }}" %}
{% elsif section.settings.background_color == "dark" %}
{% assign bg_hex = "{{ dark_color }}" %}
{% endif %}

<section class="testimonial-slider section-{{ section.id }}{% if section.settings.background_color != blank and section.settings.background_image == blank %} bg-{{ section.settings.background_color }}{% elsif section.settings.background_color == blank and section.settings.background_image != blank %} testimonial-bg-image{% elsif section.settings.background_color != blank and section.settings.background_image != blank %} testimonial-bg-image-color{% endif %}">
<div id="carouselTestimonials" class="carousel slide row" data-bs-ride="carousel">
  <div class="container carousel-inner col-8 col-lg-4 text-center py-5">
     {% for block in section['block_order'] %}
     <div class="carousel-item{%if forloop.index == 1%} active{% endif %} data-bs-interval="5000"">
      {% block %}
    </div>
     {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselTestimonials" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="custom-prev"><</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselTestimonials" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="custom-next">></span>
  </button>
</div>
</section>

{% styles %}

.section-{{ section.id }}.testimonial-bg-image {
    background: url({{ section.settings.background_image | image_url:'1600x1600' }});
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.section-{{ section.id }}.testimonial-bg-image-color {
    background: {% if section.settings.overlay != "none" %}linear-gradient({{ bg_hex }}{{ section.settings.overlay }}, {{ bg_hex }}{{ section.settings.overlay }}), {%endif%}url({{ section.settings.background_image | image_url:'1600x1600' }});
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.testimonial-image img {
    width: 120px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: none;
}

.custom-prev, .custom-next {
    font-size: 50px;
    color: {% if section.settings.background_color != 'dark' %}{{ heading_color_text }}{% else %}{{ light_color }}{% endif %};
}

.testimonial-slider blockquote {
        font-size: 1.5em;
        font-style: italic;
        color: {% if section.settings.background_color != 'dark' %}{{ heading_color_text }}{% else %}{{ light_color }}{% endif %};
        font-weight: 500;
    }
    
    .testimonial-slider .name {
        color: {% if section.settings.background_color != 'dark' %}{{ heading_color_text }}{% else %}{{ light_color }}{% endif %};
    }
    
    @media screen and (max-width: 576px) {
    
        .testimonial-slider blockquote {
            font-size: 1em;
        }
        
        .testimonial-slider .name {
            font-size: 0.9em;
        }
        
        .name-separator {
            display: none;
        }
        
        .client-rev {
            font-weight: 400;
        }
        
        .carousel-control-next, .carousel-control-prev {
            display: block;
        }
        
         .carousel-control-next {
            right: 10px;    
        }
        
        .carousel-control-prev {
            left: 10px;    
        }
    }

{% endstyles %}

{% schema %}
{
    "name": "Testimonial Slider",
    "description": "Section for showing client reviews and testimonials in a slider.",
    "max_blocks": 12,
    "settings": [
        {
            "type": "image_picker",
            "id": "background_image",
            "default": "pattern.png",
            "label": "Background Image"
        },
        {
            "type": "select",
            "id": "overlay",
            "label": "Overlay Opacity",
            "default": "66",
            "options": [
            {
                "label": "None",
                "value": "00"
            },
            {
                "label": "Light",
                "value": "66"
            },
            {
                "label": "Medium",
                "value": "80"
            },
            {
                "label": "Dark",
                "value": "BF"
            },
            {
                "label": "Full",
                "value": "FF"
            }]
        },
        {
            "type": "select",
            "id": "background_color",
            "label": "Background Color/Overlay",
            "default": "tertiary",
            "options": [
                {
                    "label": "Primary",
                    "value": "primary"
                },
                {
                    "label": "Secondary",
                    "value": "secondary"
                },
                {
                    "label": "Tertiary",
                    "value": "tertiary"
                },
                {
                    "label": "Accent",
                    "value": "accent"
                },
                {
                    "label": "Light",
                    "value": "light"
                },
                {
                    "label": "Dark",
                    "value": "dark"
                }
            ]
        }
    ],
    "blocks": [
            {
                "type": "testimonial"
            },
            {
                "type": "testimonial"
            },
            {
                "type": "testimonial"
            }
    ]
}
{% endschema %}