{% if section.settings.background_color == "primary" %}
{% assign bg_hex = "{{ primary_color }}" %}
{% elsif section.settings.background_color == "secondary" %}
{% assign bg_hex = "{{ secondary_color }}" %}
{% elsif section.settings.background_color == "tertiary" %}
{% assign bg_hex = "{{ tertiary_color }}" %}
{% elsif section.settings.background_color == "accent" %}
{% assign bg_hex = "{{ accent_color }}" %}
{% elsif section.settings.background_color == "light" %}
{% assign bg_hex = "{{ light_color }}" %}
{% elsif section.settings.background_color == "dark" %}
{% assign bg_hex = "{{ dark_color }}" %}
{% endif %}

<div class="text container-fluid section-{{ section.id }}{% if section.settings.background_color != blank and section.settings.background_image == blank %} bg-{{ section.settings.background_color }}{% elsif section.settings.background_color == blank and section.settings.background_image != blank %} text-bg-image{% elsif section.settings.background_color != blank and section.settings.background_image != blank %} text-bg-image-color{% endif %}" style="padding: {{ section.settings.padding }} 0;">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-{{ section.settings.container_size }} text-{{ section.settings.alignment }}">
                <h2 class="mb-4 {%if section.settings.background_color != 'light' %}text-light{% endif %}">{{ section.settings.title }}</h2>
                <div class="text-content {%if section.settings.background_color != 'light' %}text-light{% else %}text-dark{% endif %}"><p>{{ section.settings.text }}</p></div>
            </div>
        </div>
    </div>
</div>

{% styles %}

.section-{{ section.id }}.text-bg-image {
    background: url({{ section.settings.background_image | image_url:'1600x1600' }});
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.section-{{ section.id }}.text-bg-image-color {
    background: {% if section.settings.overlay != "none" %}linear-gradient({{ bg_hex }}{{ section.settings.overlay }}, {{ bg_hex }}{{ section.settings.overlay }}), {%endif%}url({{ section.settings.background_image | image_url:'1600x1600' }});
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

@media screen and (max-width: 576px) {
    .text {
        padding: 80px 20px;
    }
}

{% endstyles %}

{% schema %}
{
    "name": "Text",
    "description": "Section for title and content with customizable background.",
    "settings": [
        {
            "type": "select",
            "id": "padding",
            "label": "Padding",
            "default": "120px",
            "options": [
            {
                "label": "None",
                "value": "0"
            },
            {
                "label": "Small",
                "value": "40px"
            },
            {
                "label": "Medium",
                "value": "80px"
            },
            {
                "label": "Large",
                "value": "120px"
            }]
        },
        {
            "type": "select",
            "id": "container_size",
            "label": "Content Width",
            "default": "6",
            "options": [
            {
                "label": "Small",
                "value": "6"
            },
            {
                "label": "Medium",
                "value": "8"
            },
            {
                "label": "Large",
                "value": "12"
            }]
        },
        {
            "type": "select",
            "id": "alignment",
            "label": "Text Alignment",
            "default": "center",
            "options": [
            {
                "label": "Left",
                "value": "left"
            },
            {
                "label": "Center",
                "value": "center"
            },
            {
                "label": "Right",
                "value": "right"
            }]
        },
        {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
        },
        {
            "type": "select",
            "id": "background_color",
            "label": "Background Color",
            "default": "accent",
            "options": [
                {
                    "label": "Primary",
                    "value": "primary"
                },
                {
                    "label": "Secondary",
                    "value": "secondary"
                },
                {
                    "label": "Tertiary",
                    "value": "tertiary"
                },
                {
                    "label": "Accent",
                    "value": "accent"
                },
                {
                    "label": "Light",
                    "value": "light"
                },
                {
                    "label": "Dark",
                    "value": "dark"
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "default": "Lorem ipsum",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            "label": "Content"
        }
    ]
}
{% endschema %}