<div class="page-404 container-fluid section-{{ section.id }}">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-6 text-center">
                <h1 class="mb-4 text-light" style="color: #fff">404: Page not found</h1>
                <div class="mb-5 text-light" style="color: #fff"><p class="hero-text">We are unable to find the page you are looking for. If you need help, feel free to keep browsing, or give us a call.</p></div>
                <div class="mt-4">
                <a class="btn btn-outline-light btn-lg mx-2" href="/" role="button">Home</a>
                <a class="btn btn-primary btn-lg mx-2" href="/contact" role="button">Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>

