<ul class="navbar-nav main-navbar-nav mr-auto">
    {% for item in menu.menu_items %}
    {% if item.children != blank %}
    <li class="nav-item dropdown position-static">
        <a class="nav-link dropdown-toggle" href="#" title="{{ item.name }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ item.name }}
        </a>
        <div class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
            <div class="container">

                <ul class="row dropdown-menu-mobile">
                    {% for child in item.children %}
                    <li class="col pr-2 pl-2 dropdown-item-container d-flex">
                        {% if item.new_window %}
                        <a class="dropdown-item" href="{{ child.link }}" title="{{child.name }}" target="_blank">
                            {% else %}
                            <a class="dropdown-item" href="{{ child.link }}" title="{{child.name }}">
                                {% endif %}
                                <div class="dropdown-item-name">
                                    {{ child.name }}
                                </div>
                                <div class="dropdown-item-description">
                                    {{ child.description }}
                                </div>
                                <div class="dropdown-item-subname">
                                    {% if child.name != "Amazon Brand Registry" %}
                                    {{ child.name | singularize }} Law <span>&#8594;</span>
                                    {% else %}
                                    {{ child.name }} <span>&#8594;</span>
                                    {% endif %}
                                </div>
                            </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{{ item.link }}" title="{{item.name}}">{{ item.name }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>